<div class="row">
    <div class="col datajornal text-center">16 de setembro de 2020</div>
</div>
<!-- DESTAQUES -->
<div class="titulosjornal"><h4>Principais Destaques</h4><div class="detalhetitulos"></div></div>
<div class="row paddingtop10">
    
    <div class="col-md-3 border rounded bg-light p-0">
        <img src="/assets/images/exemplo.jpg">
        <div class="p-1">
            <div class="w-100 text-center"><h5>Titulo da Notícia</h5></div>
            <div class="w-100 text-center font-0-5">Este será um pequeno resumo do destaque em questão, não contendo todo o texto e ...</div>
        <button class="btn btn-dark w-100">Continue Lendo</button>
        </div>
    </div>

    <div class="col-md-3 border rounded bg-light p-0">
        <img src="/assets/images/exemplo.jpg">
        <div class="p-1">
            <div class="w-100 text-center"><h5>Titulo da Notícia</h5></div>
            <div class="w-100 text-center font-0-5">Este será um pequeno resumo do destaque em questão, não contendo todo o texto e ...</div>
        <button class="btn btn-dark w-100">Continue Lendo</button>
        </div>
    </div>

    <div class="col-md-3 border rounded bg-light p-0">
        <img src="/assets/images/exemplo.jpg">
        <div class="p-1">
            <div class="w-100 text-center"><h5>Titulo da Notícia</h5></div>
            <div class="w-100 text-center font-0-5">Este será um pequeno resumo do destaque em questão, não contendo todo o texto e ...</div>
        <button class="btn btn-dark w-100">Continue Lendo</button>
        </div>
    </div>

    <div class="col-md-3 border rounded bg-light p-0">
        <img src="/assets/images/exemplo.jpg">
        <div class="p-1">
            <div class="w-100 text-center"><h5>Titulo da Notícia</h5></div>
            <div class="w-100 text-center font-0-5">Este será um pequeno resumo do destaque em questão, não contendo todo o texto e ...</div>
        <button class="btn btn-dark w-100">Continue Lendo</button>
        </div>
    </div>

    <div class="col-md-3 border rounded bg-light p-0">
        <img src="/assets/images/exemplo.jpg">
        <div class="p-1">
            <div class="w-100 text-center"><h5>Titulo da Notícia</h5></div>
            <div class="w-100 text-center font-0-5">Este será um pequeno resumo do destaque em questão, não contendo todo o texto e ...</div>
        <button class="btn btn-dark w-100">Continue Lendo</button>
        </div>
    </div>

    <div class="col-md-3 border rounded bg-light p-0">
        <img src="/assets/images/exemplo.jpg">
        <div class="p-1">
            <div class="w-100 text-center"><h5>Titulo da Notícia</h5></div>
            <div class="w-100 text-center font-0-5">Este será um pequeno resumo do destaque em questão, não contendo todo o texto e ...</div>
        <button class="btn btn-dark w-100">Continue Lendo</button>
        </div>
    </div>

    <div class="col-md-3 border rounded bg-light p-0">
        <img src="/assets/images/exemplo.jpg">
        <div class="p-1">
            <div class="w-100 text-center"><h5>Titulo da Notícia</h5></div>
            <div class="w-100 text-center font-0-5">Este será um pequeno resumo do destaque em questão, não contendo todo o texto e ...</div>
        <button class="btn btn-dark w-100">Continue Lendo</button>
        </div>
    </div>

    <div class="col-md-3 border rounded bg-light p-0">
        <img src="/assets/images/exemplo.jpg">
        <div class="p-1">
            <div class="w-100 text-center"><h5>Titulo da Notícia</h5></div>
            <div class="w-100 text-center font-0-5">Este será um pequeno resumo do destaque em questão, não contendo todo o texto e ...</div>
        <button class="btn btn-dark w-100">Continue Lendo</button>
        </div>
    </div>
</div>

<!-- ? -->
<div class="titulosjornal"><h4>Título da Seção</h4><div class="detalhetitulos"></div></div>
<div class="p-2">
    <img src="/assets/images/tabela.png" style="width:100%;">
</div>

<!-- Gráficos -->
<div class="titulosjornal"><h4>Giro do Mercado Financeiro</h4><div class="detalhetitulos"></div></div>
<div class="p-2 text-center">
    <h6>Evolução das Principais Bolsas</h6>
    <img src="/assets/images/evolucao-bolsas.png" width="400">
    <h6>Evolução das Principais Moedas</h6>
    <img src="/assets/images/evolucao-moedas.png" width="400">
</div>

<!-- Gráficos -->
<div class="titulosjornal"><h4>Moedas Digitais</h4><div class="detalhetitulos"></div></div>

<div class="row mt-2">
    <div class="col-md-4" style="height: 100px; background-color: black;"></div>
    <div class="col-md-8" style="height: 100px; background-color:lightgray;"></div>
</div>
<div class="row mt-2">
    <div class="col-md-4" style="height: 100px; background-color: black;"></div>
    <div class="col-md-8" style="height: 100px; background-color:lightgray;"></div>
</div>
<div class="row mt-2">
    <div class="col-md-4" style="height: 100px; background-color: black;"></div>
    <div class="col-md-8" style="height: 100px; background-color:lightgray;"></div>
</div>

<!-- Gráficos -->
<div class="titulosjornal"><h4>Opinião do Convidado</h4><div class="detalhetitulos"></div></div>
<div class="row">
    <div class="col-md-2">
        <img src="/assets/images/ex-convidado.jpg">
    </div>
    <div class="col-md-10 font-0-7">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non tristique sem, at suscipit eros. Maecenas et dictum ex. Proin volutpat faucibus risus, congue pellentesque libero sagittis at. Vestibulum porta felis quis sem sollicitudin, lobortis facilisis massa efficitur. Quisque nec felis sagittis, finibus purus ac, mattis nunc. Proin elit felis, vehicula at rutrum sit amet, viverra ut mi. Fusce et sapien non nisi maximus fermentum. Suspendisse ut molestie risus. Nam a leo ut quam ultrices viverra. Quisque semper lacinia magna. Nunc eget hendrerit magna. Phasellus eu vehicula mi. In hendrerit tortor at risus ornare venenatis.
        </p>
        <button class="btn btn-dark w-100">Continue Lendo</button>
    </div>
</div>

<!-- Gráficos -->
<div class="titulosjornal"><h4>Aprendendo Finanças</h4><div class="detalhetitulos"></div></div>
<div class="row">
    <div class="col-md-4">
        <img src="/assets/images/exemplo.jpg">
    </div>
    <div class="col-md-8 font-0-7">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non tristique sem, at suscipit eros. Maecenas et dictum ex. Proin volutpat faucibus risus, congue pellentesque libero sagittis at. Vestibulum porta felis quis sem sollicitudin, lobortis facilisis massa efficitur. Quisque nec felis sagittis, finibus purus ac, mattis nunc. Proin elit felis, vehicula at rutrum sit amet, viverra ut mi. Fusce et sapien non nisi maximus fermentum. Suspendisse ut molestie risus. Nam a leo ut quam ultrices viverra. Quisque semper lacinia magna. Nunc eget hendrerit magna. Phasellus eu vehicula mi. In hendrerit tortor at risus ornare venenatis.
        </p>
        <button class="btn btn-dark w-100">Continue Lendo</button>
    </div>
</div>